{% extends "blog/base.html" %}
{% block content %}
{% load static %}


<style>
.ovvv {
word-break:break-all;
word-wrap: break-word;
}


.cardee {

  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
 
}
.iomg {
 width: 38px;
  height: 38px;
  border-radius: 100%;

}

.xmz {

 font-size: 16.8px;
 
 
 }

.xmzd {

 font-size: 18px;
 }




hr.style-one {
border: 0;
height: 1px;
background: #ced4da;

}

div.deedw {
  line-height: 2.6;
}





</style>
	
<br>
<br>
<br>
<br>
<br>



	
          <div class="row">



  <div class="col-md-12 grid-margin stretch-card">
              <div class="card cardee">
                <div class="card-body">
				
									{% if object.author == user %}
				
			 <div class="d-flex justify-content-between">
						  
				 <div class="media">
					

            		 <a href="{% url 'user-posts' object.author.username %}"><img class="iomg d-flex align-self-start mr-3 " src="{% static 'blog/images/faces/face28.jpg' %}" alt="."></a>
	    

	  

					
					
                    <div class="media-body">
					
					
<h5>
                   
             <a class="text-dark ovvv" href="{% url 'user-posts' object.author.username %}" style="text-decoration:none">You</a>
  
	           
	 
			
</h5>			

<h4>		   
              <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
				</h4>	
		
                    </div>
					
                  </div> 
				
				
				
				
				
				   <div class="dropdown">
                          <a id="dropdownMenuIconButton2" href="#" style="text-decoration:none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <button type="button" class="btn btn-light btn-icon btn-sm">

						 <i class="ti-more"></i>
                          </button>						 
                          </a>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuIconButton2">
                      
                            <a class="dropdown-item" href="{% url 'post-update' object.id %}">Edit</a>
                           
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'post-delete' object.id %}">Delete</a>
                          </div>
                        </div>
						
					</div>	
						
				
{% else %}


				
								 <div class="media">
			
	    
	            	<a href="{% url 'user-posts' object.author.username %}"><img class="iomg  d-flex align-self-start mr-3" src="{% static 'blog/images/faces/face27.jpg' %}" alt="."></a>
	  

					
					
                    <div class="media-body">
					
					
<h5>
                   
         
  
	              <a class="text-dark ovvv" href="{% url 'user-posts' object.author.username %}"  style="text-decoration:none">{{ object.author|truncatechars:22 }}</a>
	 
			
</h5>			

<h4>		   
              <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
				</h4>
                    </div>
					
                  </div> 
				
				
				
			
				{% endif %}
				
				
								 {% if object.file %}
               
			   
			      
			
			   <div class="deedw">
			    {% if object.extension == '.pdf' %}   
		  <label class="badge badge-danger font-weight-bold">{{ object.file.size | filesizeformat}} &#183; {{ object.extension | slice:"1:" | upper }}</label>
	 {% elif object.extension == '.ppt' or object.extension == '.pptx' %}  
		  <label class="badge badge-warning font-weight-bold">{{ object.file.size | filesizeformat}} &#183; {{ object.extension | slice:"1:" | upper }}</label>
	 {% elif object.extension == '.doc' or object.extension == '.docx' %}  	  
		    <label class="badge badge-info font-weight-bold">{{ object.file.size | filesizeformat}} &#183; {{ object.extension | slice:"1:" | upper }}</label>
			
		{% elif object.extension == '.txt' %}  	  
		    <label class="badge badge-success font-weight-bold">{{ object.file.size | filesizeformat}} &#183; {{ object.extension | slice:"1:" | upper }}</label>

		{% else %}  	  
		    <label class="badge badge-danger font-weight-bold">{{ object.file.size | filesizeformat}} &#183; {{ object.extension | slice:"1:" | upper }}</label>
			
          {% endif %}   
				

				
				{% endif %}
			</div>
  		                                                                          
		  
		  <h4>{{ object.title }}</h4> 
		

           <p class="lead">{{ object.content }}</p> 



			                 <hr>
				
				 <div class="d-flex justify-content-between">
			

             {% if post.file %}
			 
			 
			 &nbsp;
			 <div>
        				 <button type="button" class="btn btn-light btn-icon btn-md">
			 <i class="ti-link"></i>   

            </button>
			
			&nbsp;
			&nbsp;
	      
				 <a   href="{{ object.file.url }}"   download  style="text-decoration:none;" > 
				 
				 <button type="button" class="btn btn-light btn-icon btn-md">
			 <i class="ti-import"></i>   

            </button>
			</a>
            
       
</div>
            
		  </div>
		  
		
          {% endif %}
		  
		  
                </div>
              </div>
            </div>


    
</div>



<br>
	<br>
	 





















{% endblock content %}
























