{% extends "blog/base.html" %}
{% block content %}

<br>
<br>
<br>
<br>
<br>


<div class="row">



 <div class="col-md-12 grid-margin stretch-card transparent">
                  <div class="card card-inverse-danger">
                    <div class="card-body">
               
                      <h3 class="mb-4">Confirm Delete</h3>
					    
						 <form method="POST">
                  
					
					              {% csrf_token %}
              <fieldset class="form-group">
                 
                  <p class="lead font-weight-bold">Are you sure you want to delete the post titled &ldquo;{{ object.title }}&rdquo;?</p>
              </fieldset>
           
                  
	   <button type="submit" class="btn btn-inverse-danger btn-md">Delete</button>
	   
	   &nbsp;
                <a class="btn btn-inverse-secondary btn-md text-dark" href="{% url 'post-detail' object.id %}">Cancel</a>
	   
<br>

					

</form>
						
				
                 </div>
                  </div>
                </div>
				
				
</div>


{% endblock content %}









